.App {
  text-align: center;
  padding: 10px;
  background: #001220;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #7c2bbf;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #001220;
  height: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7c2bbf;
  height: 30px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}